@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
